:root {
    --blue:#3D5AFE
}


.button {
    display: flex;
    justify-content: space-around;
    border: 0;
    border-radius: 6px;
    font-weight: 500;
    padding: .8em 2em;
}

.button:hover {
    cursor:pointer;
}

.button span {
    margin: 0 .4em;
    font-size: 18px;
}


.default:disabled {
    background-color:#bbb;
    color: #555
}

.outline {
    border:1px solid var(--blue);
    color:var(--blue);
    background: transparent;
}

.text {
    background: transparent;
    color:var(--blue);
}

.text:disabled {
    color:red
}

.disabledShadow {
    background: var(--blue);
    color:#fff
}
